body {
	background-image: url('Background1.jpg');
    background-color: #7FFFD4;
	background-position: center;
	background-size: 100% 130%;
	margin: 50px;
}
table {
     background-color: #8b99a7;
	 background: rgba(0,0,0,0.2);
     width: 600px;
     height: 300px;
	 border-collapse: collapse;
}
#center{
	padding: 10px;
	text-align: center;
}
td, th{
	margin: 10px;
	padding: 10px;
}


